.logo-div{
    padding-left: 200px;
}
.logo{
    width: 50px;
}
ul.left-menus{
    padding-left: 190px;
}
ul.left-menus li{
    list-style: none;
    margin: 20px;
}
.login-user-profile{
    padding-left: 190px;
}
img.logged-user-profile{
    width: 60px;
}
